html{
    font-size: 62.5%;
}

body{
    display: grid;
    grid-template-areas: "header header header header"
                         "hero hero hero hero"
                         "about about about about"
                         "services services services services"
                         "projects projects projects projects"
                         "footer footer footer footer";
    grid-template-columns: repeat(4, 1fr);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.header{
    grid-area: header;
}

.header .header-container{
    display: flex;
    padding: 20px 40px;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
}

.header .header-container .logo{
    font-size: 3rem;
    font-weight: 700;
    transition: 0.4s;
}

.header .header-container a:hover .logo{
    color: coral;
}

/* HERO */

.hero{
    grid-area: hero;
    height: 84vh;
    background: url(../images/lemons.jpg) center center no-repeat ;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero .main-title{
    font-size: 3rem;
    font-weight: 500;
}

.hero::after{
    content: url(../images/seta_preta.png);
    height: 30px;
    position: absolute;
    bottom: 40px;
    animation: downarrow 0.6s alternate infinite ease-in-out;
}

@keyframes downarrow{
    0%{ -webkit-transform: translateY(0);
    opacity: 0;}
    100% { -webkit-transform: translateY(0.4rem);
    opacity: 0.9;}
}

@media(max-width: 375px){
    .hero{
        height: 60vh;
    }

    .hero .main-title{
        font-size: 2rem;
    }
}

/* ABOUT */

.about{
    grid-area: about;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: var(--max-width-size);
    margin: 0 auto;
}

.about .title-text{
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.about .title-text .title{
    font-size: 3rem;
    font-weight: 700;
}

.about .title-text .text{
    font-size: 1.4rem;
    letter-spacing: 3px;
    text-align: justify;
    margin: 20px 0;
}

.about .title-text a{
    font-size: 1.2rem;
    align-self: flex-start;
}

.about .title-text a:hover{
    font-weight: 700;
}

.about .image{
    width: 100%;
    height: 100%;
}

.about .image.bridge{
    background: url(../images/bridge.jpg) center center no-repeat;
    background-size: cover;
}

.about .image.sky{
    background: url(../images/sky.jpg) center center no-repeat;
    background-size: cover;
}

@media(max-width: 425px){
    .about{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
}


/* SERVICES */

.services{
    grid-area: services;
    background-color: blue;
}

.projects{
    grid-area: projects;
    background-color: violet;
}

.footer{
    grid-area: footer;
    background-color: yellow;
}